PORT=3000
NODE_ENV=development

# URLs
APP_URL=http://localhost:5173
API_URL=http://localhost:3000/api/v1

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce_db

# JWT Secrets
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key
JWT_REFRESH_EXPIRES_IN=7d

# Mailtrap SMTP Configuration
# Dashboard & Logs: https://mailtrap.io/sending/email_logs
MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=api
MAIL_PASSWORD=tu_token_api_de_mailtrap
MAIL_FROM="El Magnifico <hello@demomailtrap.co>"

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
